<header class="bg-light text-black" style="margin-top: 55px;">
    <div class="container text-center">
      <h1>Welcome to We MEAN Pubs</h1>
      <p class="lead">Top venues of the North Coast.</p>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About this page</h2>
          <img class="card-img-top" src="assets/img/pubs.jpg">
          <p class="lead">Have a look at all the great venues the North Coast and Glens has to offer.</p>
          <p class="card-text"><small class="text-muted">Login leave a review</small></p>
          <ul>
            <li>Venue Location</li>
            <li>Venue Type</li>
            <li>Reviews</li>
          </ul>
        </div>
        <div class="col-lg-8 mx-auto">
          <button class="btn btn-primary" (click)="authService.login()">Get Started</button>
        </div>
      </div>
    </div>
  </section>