body {
    font-size: 28px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(156, 142, 142);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(53, 89, 122);
  }
  
  .active {
    background-color: rgb(76, 147, 175);
  }
  
  .error {
    background-color: #fff0f0
  }

  div.pad {
    padding-top: 2em;
  }

  .title {
    color: grey;
    font-size: 18px;
  }

  div.in-line {
    float: right;
  }
  
.pointer {
  cursor: pointer;
}