<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <div class="card text-white bg-secondary mb-3">
                    <div *ngFor="let pub of webService.singlePub | async">
                        <div class="card-header">
                            <b>{{ pub.name }}</b>
                        </div>
                        <div class="card-body">
                            <b>Address:</b><br>
                            {{ pub.address }}<br>
                            {{ pub.town }}<br>
                            {{ pub.postcode }}<br><br>

                            <b>Venue Type:</b><br>
                            {{ pub.type }}
                        </div>
                        <div class="card-footer">
                            Coordinates: ({{ pub.latitude }}, {{ pub.longitude }})
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <p class="title">Number of Reviews: {{this.webService.reviewsCount}}</p>
    <br />
    <div class="row">
        <div class="col-sm-12" *ngFor="let pub of webService.singlePub | async">
            <div *ngFor="let review of webService.reviews | async">
                <div class="card bg-light mb-3">
                    <div class="card-header">
                        Review by {{ review.username }}
                        on {{ review.date | date }}
                        <div class="in-line">
                            <a *ngIf="authService.isAuthenticated()" (click)="deleteReview(pub._id,review._id)" ><i class="fas fa-trash pointer"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ review.text }}
                        <hr>
                        <p><strong>{{ review.stars }} stars</strong></p>
                    </div>
                    <div class="card-footer">
                        <p>Likes: {{numberOfLikes}}</p>
                        <span *ngIf="!authService.isAuthenticated()">
                            <h5 class="text-black">
                                Please log in to leave a rating for this review
                            </h5>
                        </span>
                        <a *ngIf="authService.isAuthenticated()" (click)="like()"><span
                                class="far fa-thumbs-up pointer"></span></a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a *ngIf="authService.isAuthenticated()" (click)="dislike()"><span
                                class="far fa-thumbs-down pointer"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>Please leave a review</h2>
    <span *ngIf="authService.isAuthenticated()">
        <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="hidden" id="name" name="name" class="form-control" placeholder="Enter your name"
                    formControlName="name" [ngClass]="{ 'error' : isInvalid('name')}" [(ngModel)]="review.name">
            </div>
            <div class="form-group">
                <label for="review">Please leave your review below</label>
                <textarea id="review" rows="3" name="review" class="form-control" placeholder="Enter review"
                    formControlName="review" [ngClass]="{ 'error' : isInvalid('review')}" [(ngModel)]="review.review">
                </textarea>
            </div>
            <div class="form-group">
                <label for="stars">Stars</label>
                <select id="stars" name="stars" class="form-control" formControlName="stars" [(ngModel)]="review.stars">
                    <option value="1">1 Star</option>
                    <option value="2">2 Stars</option>
                    <option value="3">3 Stars</option>
                    <option value="4">4 Stars</option>
                    <option value="5">5 Stars</option>
                </select>
            </div>
            <span *ngIf="isIncomplete()">You must complete all fields</span>
            <button type="submit" class="btn btn-primary" *ngIf="!isIncomplete()">Submit</button>
        </form>
    </span>

    <span *ngIf="!authService.isAuthenticated()">
        <h5 class="text-primary">
            Please log in to leave a review for this venue
        </h5>
    </span>

</div>